.navbar {
  height: 100vh;
  border-width: 0px;
  width: 300px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-dark-7);
}

.navbarMain {
  flex: 1;
}

.footer {
  padding-top: var(--mantine-spacing-sm);
  margin-top: var(--mantine-spacing-sm);
  border-top: 1px solid var(--mantine-color-white);
}

.navTitle {
 padding-bottom: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-sm);
}
.title {
  color: var(--mantine-color-white);
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 600;

  @mixin hover {
    background-color: var(--mantine-color-indigo-9);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-dark-filled);

      .linkIcon {
        color: var(--mantine-color-dark-filled);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-dark-1);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}
